.App {
  text-align: center;
  display: grid;
  grid-template-columns: 15%,70%,15%;
  grid-template-rows: 8%,84%,8%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MainContainer {
   display: flex;
  flex-direction: row;
   align-items: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
  border: 1px solid black;

}

.Marca{
  grid-column: 1/4;
  grid-row: 1/2;
  border: 1px solid black;
}


.filtro{
  grid-column: 1/2;
  grid-row: 2/3;
  border: 1px solid black;

}
.carrinho{
  grid-column: 3/4;
  grid-row: 2/3;
  border: 1px solid black;
}
.rodape{
  grid-column: 1/4;
  grid-row: 3/4;
  border: 1px solid black;
}


img{
  height: 10vh;  
 }
 
*{
  text-align: center;
}
.App-link {
  color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
