.App {
  text-align: center;
  display: grid;
  grid-template-columns: 15%,70%,15%;
  grid-template-rows: 8%,74%,8%;
  background-image: linear-gradient(to top, rgb(116, 117, 216), rgb(1, 4, 95));
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.botao{
  width: 90px;
 }

.thanks{
  padding: -6px;
  width: 70px;
  height: auto;
  border-bottom: 4px solid lightblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MainContainer {
     grid-column: 2/3;
  grid-row: 2/3;
}
.vitrine{
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 8px 2px;
  font-size: 20px;
  color: black;
  display:grid;
  grid-row:2/3 ;
  grid-template-rows: 2vh, 1fr,1fr,1fr;
  grid-template-columns: repeat(3,1fr);

}

.ContainerTotal{
display:flex;


}
.principal{
display:grid;
grid-template-rows: 30fr,1fr;

}
.ordenacao{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7vh;
  align-items: center;
}

.Ordem {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    grid-row: 1/2;
}
.Marca{
  grid-column: 1/4;
  grid-row: 1/2;
  background-image: linear-gradient(to bottom,  rgb(105, 173, 99)),rgb(0, 45, 71));
  color: white;
}


.filtro{
  grid-column: 1/2;
  grid-row: 2/4;
}
.carrinho{
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 4px;

}
.rodape{
  grid-column: 1/4;
  grid-row: 3/4;
}


img{
  height: 20vh;  
 }
 
*{
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
